@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}


.nav-container
{
	display: flex;
	padding: 20px 35px;
	background: #283593;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	color: #FFF;
}
.sec-3-1 a
{
	text-decoration: none;
	color: #FFF;
	margin-left: 15px;
	padding: 5px;
	font-weight: bold;
	font-size: 20px;
	
}

.sec-3-1 a:hover
{
	color: #ddd;
}
.text-logo
{
	text-align: center;
	margin-top: 10px;
}

 .table-1
{

	width: 90%;
	border-collapse: collapse;
	margin: 10px auto ;
	
}

.table-1 th
{
	font-size: 16px;
	padding: 12px 10px;
    border: 1px solid #ddd;
	background-color:  #283593;
    color: #FFF;
}

.table-1 td
{
	border: 1px solid #ddd;
	font-size: 21px;
	padding: 12px 10px;	
	text-align: center;
	font-weight: 700;
}


.table-1 tr:nth-child(even)

{
	background-color: #C0C0C0;
}

.table-1 tr:hover
{
	background-color: #ddd;
}
.container .alert-level
{
	text-align: center;
}
.container .alert-level h3
{
	font-size: 25px;
}
.container .alert-level h4
{
	font-size: 14px;
	font-style: italic;
	margin-bottom:10px;
}
.container .lockdown-level
{
   text-align: center;
  
}
.container .lockdown-level p
{
    display:inline-block;
    font-size: 30px;
    padding:8px;
    font-weight: bolder;
}
.total
{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	gap: 10px;
	align-items: center;
	padding: 10px;
}
.total .box
{
	text-align: center;
	padding: 8px;
	border-radius:5px;
	color:#100c08;
}

.total .t-cases
{
	background: #D3D3D3;
}
.total .c-cases
{
	background: #FFBF00;
}

.total .r-cases
{
	background: #32CD32;
}
.total .d-cases
{
	background: #dc143c;
}
.note-section
{
    text-align:center;
    font-size:14px;
}



@media (max-width: 768px)
{
	
	.table-1
	{
		width: 100%;
		overflow-x: hidden;  

	}
	.table-1 thead
	{
		display: none;
	}
	
	.table-1, .table-1 tbody, .table-1 tr, .table-1 td{

		display: block;
		width: 100%;
		font-size: 15px;
		
	}
	.table-1 tr

	{
		margin-bottom: 15px;
	}
	.table-1 td
	{
		padding-left: 26%;
		text-align: center;
		position: relative;
	}

	.table-1 td::before{

		content: attr(data-label);
		position: absolute;
		left: 0;
		padding-left: 10px;
		font-size: 12px;
		
		
	}
	.table-1 td.status::after
	{
		left: 0;
	}
	
	.container .text-logo
	{
		font-size: 20px;
		text-align: center;
		padding-right: 15px;
	}
	.nav-container
	{
		justify-content: center;
		overflow-x: hidden;
	}
	.total
	{
	    margin-top:10px;
	    flex-flow:column;
	}
	


}